<header class="header hero-image">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            <div class="hero-text">
                <div class="hero-text-top-left inline">
                    <p><a href="{{ path('index_index') }}"><img src="{{ asset('css/images/logo_EDF_BLANC.png') }}"  width="120"></a></p>
                </div>
                <div class="hero-text-top-centered ">
                    <h2>Portail MCO Contrôle Commande - Système d'Information Industriel</h2>
                    <h2>d'EDF Hydro</h2>
                </div>
                <div class="hero-text-top-right inline">
                    Mon compte
                </div>
            </div>
</header>